header{
    margin-bottom: 100px;
}
section{
    margin-bottom: 100px;
}
.pink-background{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    cursor: pointer;
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 25px;
    border-radius: 10px;
}

.cat-1{
    background-color: darkgoldenrod;
}
.cat-2{
    background-color: #ff136f;
}
.cat-3{
    background-color: blue;
}
.categories h1{
    color: #fff;
}
.categories img{
    width: 120px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
#subscribe{
    height: 300px;
}
.input-field{
    border: none;
    padding: 10px 50px;
    border-radius: 10px;
    margin-bottom: 5px;
}
#container{
    margin-bottom: 40px;
}
.bg-color{
    background-color: rgb(29, 28, 28);
    padding: 20px 0;
    color: #fff;
}